# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
server/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

#ignore images,temp and videos
server/temp/*
server/images/*

#ignore image detection outputs to be pushed
server/character_recognition_model/image_detection/images/*
server/character_recognition_model/image_detection/outputs/combined_json_output/*
server/character_recognition_model/image_detection/outputs/labels_output/*
server/character_recognition_model/image_detection/outputs/output/*
server/character_recognition_model/image_detection/outputs/txt_output/*


#ignore video detection outputs to be pushed
server/character_recognition_model/video_detection/videos/*
server/character_recognition_model/video_detection/outputs/combined_json_output/*
server/character_recognition_model/video_detection/outputs/frames/*
server/character_recognition_model/video_detection/outputs/frames_output/*
server/character_recognition_model/video_detection/outputs/labels_output/*
server/character_recognition_model/video_detection/outputs/output/*
server/character_recognition_model/video_detection/outputs/video_output/*
