
.predict {
  margin-top: 10vh;
  background-color: #eaf9e7;
  max-width: 100vw;
  min-height: 100vh;

}

.seasonalPrediction {
  padding: 1rem 3rem 1rem 3rem;
max-height: 25vh;
  /* border: 2px solid red; */


}

.ses-left{
  /* border: 2px solid red; */
  padding: 0;
  margin: 0;

}


.ses-left > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 10rem;
}

.ses-left > :nth-child(2) {
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: bold;
}

.ses-right {
  /* border: 2px solid red; */
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  height: 15vh;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop_file_input {

  margin-top: 00px;
  border: 3px dashed rgb(151, 16, 235);
  width: 500px;
  height: 15vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaf9e7 ;
  cursor: pointer;

}

.drop_file_input input {
display: none;
}

.drop_file_input:hover {
  opacity: 0.6;
}
.dragover{
  opacity: 0.6;
}

.drop_file_input_label {
  /* border: 2px solid red; */
  text-align: center;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  padding: 0px;
}
.drop_file_input_label img {
  /* border: 2px solid green; */
  cursor: pointer;
  width: 100px;
}

.drop_file_preview {
  height: 15vh;
  max-width: 100vw;
  border-radius: 20px;
  /* background: white; */
  border:3px dashed  rgb(151, 16, 235);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* justify-content: center;
  align-items: center; */
}



.drop_file_preview_item {
  display: flex;
  min-width: 600px ;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  /* margin-right: 20px; */
}
.image img{
  width: 80px;
  aspect-ratio: 1/1;

}

.drop_file_preview_item_info {
  min-width: 200px;
  margin-left: 50px;
  align-items: center;
  justify-content: baseline;
}

label {
  font-size: 15px;
  color: red;
}

span {
  margin-top: 1rem;
}

.first {
  margin-top: 1rem;
}

.ses-right .user {
  /* width: 20rem; */
  /* height: 2rem; */
  padding: 0.3em;
  outline: none;
  margin-left: 5px;
  border: 2px solid var(--blue);
  border-radius: 20px;
  margin-right: 5px;
  /* border: 2px solid var(--blue); */
  /* border-radius: 8px; */
  /* font-size: 16px; */
  /* margin-bottom: 1rem; */
}

.last {
  margin-bottom: 1rem;
}

.pre-result {
  width: 20rem;
  height: 2rem;
  padding: 0.3em;
  outline: none;
  border: 2px solid var(--green);
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 1rem;
  font-weight: bold;
  /* margin-left: 25rem; */
}
.plant {
  color: red;
}

.plantDescription {
  width: 20rem;
  height: 8rem;
  padding: 0.3em;
  outline: none;
  border: 2px solid var(--green);
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-left: 5rem;
}

.p-desc {
  margin-left: 7rem;
  margin-bottom: 2px;
  font-weight: bold;
}

.output-image {
  display: flex;
  /* margin-top: 5rem; */
  /* margin-left: 10rem; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items:center ; */
  gap: 0.5rem;
  /* margin-top: 2rem; */
}

.zoom-container{
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.processedImage {
  border: 2px solid var(--blue);
  border-radius: 20px;
  /* width: 540px; */
  height: 540px;
  box-shadow: var(--boxShadow);
}

.table{
  margin-top: 2.2rem;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

/* Responsive css */
@media (max-width: 570px) {
  .seasonalPrediction {
    padding: 0;
    flex-direction: column;
    gap: 5rem;
    height: 70rem;
  }

  .ses-left {
    margin-top: -8rem;
  }
  .ses-right {
    margin-left: -0rem;
  }
  .ses-right .user {
    width: 18rem;
    height: 2rem;
  }

  .container1:before {
    bottom: 72%;
    left: 50%;
  }

  .container1.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
