.n-wrapper {
    top:0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 9999;
    background: #eaf9e7;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
  }
  
  .n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
  }
  .n-name {
    display: flex;
    justify-content: center;
  }
  
  .n-name img {
    height: 50px;
    width: 50px;
  }
  
  .n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
  }
  
  .n-list {
    flex: 10;
  }
  
  .n-list > ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    cursor: pointer;
  }
  
  
  
  .n-button {
    flex: 2;
  }
  
  @media screen and (max-width: 480px) {
    .n-list {
      display: none;
    }
    .n-button {
      display: none;
    }
  }
  