.n-wrapper {
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* background: #eaf9e7; */
  background: #e9eff8;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.n-name {
  display: flex;
  justify-content: center;
}

.n-name img {
  height: 50px;
  width: 50px;
}

.nav-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.nav-list {
  flex: 10;
  color: black;
}
.nav-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}

.nav-list > ul > li > a {
  color: black;
  text-decoration: none; /* Remove underline */
}

.nav-list > ul > li > a:hover {
  cursor: pointer;
  color: var(--blue);
  text-decoration: none; /* Ensure underline is removed on hover */
}

.n-button {
  flex: 2;
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  .n-button {
    display: none;
  }
}
